# Python environments
.venv/
**/.venv/
__pycache__/
*.py[cod]

# CMake and C++ generated output
stream-server/build/
**/build/
*.exe
*.obj
*.pdb
*.ilk

# Test audio
upload-api/sample.mp3

# Generated audio and metadata
upload-api/storage/ready/*
!upload-api/storage/ready/.gitkeep

upload-api/storage/metadata/*
!upload-api/storage/metadata/.gitkeep

# Temporary files
*.part
*.bin
*-headers.txt
downloaded.mp3
full-download.mp3

# Uploaded source audio
upload-api/storage/uploads/*
!upload-api/storage/uploads/.gitkeep